<form (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{!endpoint ? 'Create New Endpoint' : 'Edit Endpoint'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="endpurl">Url <div style="color:red;display:inline">*</div></label>
      <input type="text" class="form-control" [ngClass]="{ 'is-invalid': onError }" id="endpurl" placeholder="Endpoint Url" name="name"
        autocomplete="off" [(ngModel)]="url" (change)="onUrlChange();">
      <div *ngIf="onError" class="invalid-feedback">Please provide a diferent name.</div>
    </div>
    <div class="form-group">
      <label for="endpurl">Method <div style="color:red;display:inline">*</div></label>
      <div class="btn-group" style="width: 100%;" dropdown>
        <input type="text" class="form-control form-control-sm" style="background-color:#fff;border-radius: .2rem 0 0 .2rem;border-right: none;"
          readonly value="{{method === '0' ? 'GET' : 'POST'}}" />
        <button type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split btn-light" style="border: 1px solid #ced4da;"
          aria-controls="dropdown-split">
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" (click)="method = '0'" style="cursor:pointer">GET</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="method = '1'" style="cursor:pointer">POST</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="endpDescription">Description</label>
      <textarea type="text" class="form-control" id="endpDescription" autocomplete="off" placeholder="A description about the purpose of the endpoint."
        name="description" [(ngModel)]="description"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="submit" class="btn btn-primary" *ngIf="endpoint" [disabled]="url.length < 3">Save changes</button>
    <button type="submit" class="btn btn-primary" *ngIf="!endpoint" [disabled]="url.length < 3">Create endpoint</button>
  </div>
</form>
