<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="box-shadow:0 -5px 7px 4px rgba(0,0,0,.35);background-color:#f7f7f7!important;">
  <a class="navbar-brand" routerLink="/apps" (click)="currLink = 0">
    <img src="../assets/logo-white.svg" width="30" height="30" class="d-inline-block align-top" alt=""> BRAIN Analytics
  </a>
  <button class="navbar-toggler" (click)="collapseNav(!isCollapsed)">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': currLink == 0}" (click)="currLink = 0">
        <a class="nav-link" routerLink="/apps">Apps
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': currLink == 1}" (click)="currLink = 1">
        <a class="nav-link" routerLink="/endpoints">Endpoints</a>
      </li>
      <li *ngIf="auth.isAuthenticated(true)" class="nav-item" [ngClass]="{'active': currLink == 2}" (click)="currLink = 2">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!auth.isAuthenticated()" class="nav-item" [ngClass]="{'active': currLink == 2}" (click)="currLink = 2">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="auth.isAuthenticated()" class="nav-item">
        <a class="nav-link" style="cursor:pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
      <ng-template #customItemTemplate let-model="item" let-index="index">
        <span>{{model.name}} - {{model.author}}</span>
      </ng-template>
      <input [(ngModel)]="selected" [typeahead]="dataSource" (typeaheadOnSelect)="onSelect($event)" typeaheadOptionField="name"
        [typeaheadItemTemplate]="customItemTemplate" placeholder="Search" class="form-control mr-sm-2" name="search" autocomplete="off">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div *ngIf="!isCollapsed" class="modal-backdrop fade show" style="z-index: 1000;"></div>
<div class="container-fluid" style="position: fixed;top: 5pc;z-index:999;">
  <div class="row justify-content-end" *ngFor="let msg of userMsg.getMessages(); let i = index">
    <div class="col-xm-12 col-sm-9 col-md-6">
      <div class="alert alert-success" style="margin-top:7px;" role="alert" style="width: 85%;float: right;">
        {{msg}}
        <button (click)="userMsg.removeMessage(i)" aria-label="Close" style="line-height:0.9" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:56px;">
  <router-outlet></router-outlet>
</div>
