<div class="container-fluid" style="margin-bottom:20px;">
  <div class="row border-bottom border-info" style="padding: 10px 0 10px 0">
    <div class="col-sm-12">
      <h2>Available Applications:</h2>
    </div>
  </div>
  <div class="row" style="padding: 10px 0 10px 0">
    <div class="col-sm-12" style="margin: auto;text-align: left;">
      <button type="button" class="btn btn-info" (click)="openCreateAppModal()">
        <i class="fa fas fa-plus"></i> Create App</button>
    </div>
    <ng-container *ngFor="let app of apps">
      <div class="col-sm-12 col-md-6" style="margin-top: 15px">
        <div class="card">
          <div class="card-body">
            <div style="font-size: 20px;float: right;top: -2px;position: relative;margin-left: 10px;">
              <i style="cursor:pointer;" class="fa fas fa-trash" (click)="openDeleteAppModal(app)"></i>
              <i style="cursor:pointer;position:relative;top:1px;" class="fa fas fa-edit" (click)="openCreateAppModal(app)"></i>
            </div>
            <h5 class="card-title">{{app.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Author: {{app.author}}</h6>
            <h6 class="card-subtitle mb-2 text-muted" *ngIf="app.algorithms.length > 0">Latest Version: {{app.algorithms[0].version}}</h6>
            <h6 class="card-subtitle mb-2 text-muted" *ngIf="app.algorithms.length == 0">Latest Version: No versions available.</h6>
            <p class="card-text" *ngIf="app.description != '' && app.description">{{app.description}}</p>
            <p class="card-text" *ngIf="app.description == '' || !app.description">No description available.</p>
            <ng-container *ngIf="app.algorithms.length > 0">
              <a routerLink="/invoke/{{app._id}}/{{app.algorithms[0]._id}}" class="card-link">Invoke</a>
              <a routerLink="/app/{{app._id}}/{{app.algorithms[0]._id}}" class="card-link">Details</a>
            </ng-container>
            <a routerLink="/app/{{app._id}}" class="card-link">Overview</a>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="apps.length === 0" style="width: 100%; text-align: center; margin-top: 50px;">
      <h4>It seams like there are no aplications available.</h4>
    </div>

  </div>
</div>
