<div class="container-fluid" (webkitAnimationEnd)="hideResultsContainer($event.animationName)" [ngClass]="{ 'pt-page-rotateFoldLeft': showResults, 'pt-page-moveFromLeftFade': hideResults, 'hide': hideMainContainer }" style="margin-bottom:20px;">
  <h1 class="border-bottom border-info" style="padding: 10px;"> Analyse Data </h1>
  <h2>Application: {{app.name}}</h2>
  <div style="font-size: 18px;margin-bottom: 25px;">{{app.description}}</div>
  <form (ngSubmit)="invokeApp()">
    <h5>Options</h5>
    <div class="row" style="margin-bottom:20px" (webkitTransitionEnd)="hideResultsContainer('cenas')">
      <div class="col-md-4">
        <div class="row border options-box" style="margin:auto">
          <div class="col align-self-center">Secure Mode</div>
          <div class="col align-self-center" style="text-align: right;">
            <label class="switch">
              <input type="checkbox" name="secure" [(ngModel)]="secure">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row border options-box" style="margin:auto">
          <div class="col align-self-center">Timeout (ms)</div>
          <div class="col align-self-center" style="text-align: right;">
            <input type="number" name="timeout" min="1" class="form-control" style="height: 33px;" [(ngModel)]="timeout">
          </div>
        </div>
      </div>
    </div>

    <h5>Parameters</h5>
    <div class="row" style="margin-bottom:5px">
      <ng-container *ngFor="let param of app.algorithm.parameters">
        <div class="col-md-6" *ngIf="!param.options.static">
          <div style="margin-bottom: 10px;border: solid 1px lightgrey;padding: 5px;">
            <div style="margin-bottom: 5px;font-weight: bold;padding-left: 5px;">
              {{param.name}}
              <i *ngIf="param.options.required" style="color:red;font-size:13px;position:relative;top:-5px;" class="fa fas fa-asterisk"></i>
              <div *ngIf="param.options.default" class="form-check" style="float:right;font-weight:normal;">
                <input type="checkbox" class="form-check-input" id="default_{{param.name}}" name="defaultOpt" [(ngModel)]="param.useDefault"
                  (change)="setDefault(param)">
                <label class="form-check-label" for="default_{{param.name}}">Use Default</label>
              </div>
            </div>
            <div style="margin-bottom: 5px;" *ngIf="param.description">
              {{param.description}}
            </div>
            <div>
              <div class="row" *ngIf="param.type == '0'">
                <div class="col-12 align-self-center">
                  <input type="text" class="form-control" placeholder="some text..." [name]="param.name" [(ngModel)]="param.value" [readonly]="param.useDefault"
                  />
                </div>
              </div>

              <div class="row" *ngIf="param.type == '1'">
                <div class="col-12">
                  <button type="button" class="btn btn-secondary" (click)="openAddFilesModal(param)" [disabled]="param.useDefault">Add File</button>
                  <input type="text" class="form-control files-box" placeholder="Choose File..." [name]="param.name" [(ngModel)]="param.value.name"
                    readonly/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="validateForm()">Analyse Data</button>
  </form>
</div>

<div class="container-fluid" (webkitAnimationEnd)="hideResultsContainer($event.animationName)" [ngClass]="{ 'pt-page-moveFromRightFade': showResults, 'pt-page-rotateFoldRight': hideResults, 'hide': hideSecundaryContainer }"
  style="position: absolute; top:56px; min-height:calc(100% - 56px);">
  <div style="margin-bottom: 20px;" *ngIf="processingResult">
    <button (click)="onNewRun()" style="margin-top:20px" type="button" class="btn btn-info"><i class="fa fas fa-arrow-left"></i> New Run</button>
    <h3 style="margin-top:5px">Processing Result</h3>

    <ng-container *ngFor="let item of getObjProperties(processingResult)">
      <ng-container *ngIf="isArray(item.value)">
        <ng-container *ngFor="let file of item.value">
          <h5 *ngIf="getObjProperties(file).length > 0" style="margin-top:20px">File Reference - {{item.key}}</h5>
          <ng-container *ngFor="let fileData of getObjProperties(file)">
            <h6>{{fileData.key}}</h6>
            <textarea class="form-control" rows="5" readonly value="{{fileData.value}}"></textarea>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isArray(item.value)">
        <ng-container *ngIf="item.key == 'exit_code'">
          <h5 style="margin-top:20px">Exit Code</h5>
          <input type="text" value="{{item.value}}" class="form-control" readonly>
        </ng-container>
        <ng-container *ngIf="item.key != 'exit_code' && item.value != ''">
          <h5 style="margin-top:20px">{{item.key}}</h5>
          <textarea class="form-control" rows="5" readonly value="{{showObject(item.value)}}"></textarea>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="sk-folding-cube" style="transform:scale(1.25, 1.25);position:absolute;top:calc(50% - 45px);left:calc(50% - 27px);" *ngIf="onInvoke">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
