<div class="container-fluid" (webkitAnimationEnd)="hideResultsContainer($event.animationName)" [ngClass]="{ 'pt-page-rotateFoldLeft': showResults, 'pt-page-moveFromLeftFade': hideResults, 'hide': hideMainContainer }"
  style="position:absolute;height:calc(100% - 56px);overflow-y:auto;">
  <h1 class="border-bottom border-info" style="padding: 10px;"> Analyse Data </h1>
  <h2>Application: {{app.name}}</h2>
  <div style="font-size: 18px;margin-bottom: 25px;">{{app.description}}</div>
  <form (ngSubmit)="invokeApp()">
    <h5>Options</h5>
    <div class="row" style="margin-bottom:20px" (webkitTransitionEnd)="hideResultsContainer('cenas')">
      <div class="col-md-6 col-lg-4">
        <div class="row border options-box" style="margin:auto">
          <div class="col align-self-center">Secure Mode</div>
          <div class="col align-self-center" style="text-align: right;">
            <label class="switch">
              <input type="checkbox" name="secure" [(ngModel)]="secure">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="row border options-box" style="margin:auto">
          <div class="col align-self-center">Timeout (ms)</div>
          <div class="col align-self-center" style="text-align: right;">
            <input type="number" name="timeout" min="1" class="form-control" style="height: 33px;" [(ngModel)]="timeout">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="row border options-box" style="margin:auto">
          <div class="col align-self-center">Output Mode</div>
          <div class="col align-self-center" style="text-align: right;">
            <div class="btn-group" style="width: 100%;height:33px;" dropdown #outputDropdownRef>
              <input type="text" class="btn form-control-sm btn-light" style="width: calc(100% - 28px);text-align: left;height: 100%;" readonly value="{{outputMode.key}}"
              />
              <button type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split btn-light" aria-controls="dropdown-split">
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" [ngStyle]="{ 'width.px': outputDropdownRef.offsetWidth }">
                <li role="menuitem" *ngFor="let item of outputModes; let i = index">
                  <a class="dropdown-item" [ngClass]="{ 'active': activeIndex === i }" (click)="outputMode = item" (mouseover)="activeIndex = i"
                    style="cursor:pointer">{{item.key}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5>Parameters</h5>
    <div class="row" style="margin-bottom:10px">
      <ng-container *ngFor="let param of app.algorithm.parameters">
        <div class="col-md-6" *ngIf="!param.options.static">
          <div style="margin-bottom: 10px;padding: 10px;" class="border border-info">
            <div style="margin-bottom: 5px;font-weight: bold;padding-left: 5px;">
              {{param.name}}
              <i *ngIf="param.options.required" style="color:red;font-size:13px;position:relative;top:-5px;" class="fa fas fa-asterisk"></i>
              <div *ngIf="param.options.default && !param.useEndpoint" class="form-check" style="float:right;font-weight:normal;">
                <input type="checkbox" class="form-check-input" id="default_{{param.name}}" name="defaultOpt" [(ngModel)]="param.useDefault"
                  (change)="setDefault(param)">
                <label class="form-check-label" for="default_{{param.name}}">Use Default</label>
              </div>
            </div>
            <div style="margin-bottom: 5px;" *ngIf="param.description">
              {{param.description}}
            </div>

            <div *ngIf="param.options.endpoint" class="row border options-box" style="margin: 5px auto;background-color: #35577b;">
              <div class="col align-self-center">Select Endpoint</div>
              <div class="col align-self-center" style="text-align: right;">
                <div class="btn-group" style="width: 100%;" dropdown #dropdownRef>
                  <input type="text" class="btn" style="width: 100%;text-align: left;" [ngClass]="{ 'btn-dark': param.useEndpoint, 'btn-light': !param.useEndpoint }"
                    readonly value="{{param.useEndpoint ? param.useEndpoint : 'Offline Mode' }}" />
                  <button type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split" [ngClass]="{ 'btn-dark': param.useEndpoint, 'btn-light': !param.useEndpoint }"
                    aria-controls="dropdown-split">
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" [ngStyle]="{ 'width.px': dropdownRef.offsetWidth }">
                    <li role="menuitem">
                      <a class="dropdown-item" [ngClass]="{ 'active': param.activeEndpoint === 0 || !param.activeEndpoint }" (click)="param.useEndpoint = ''"
                        (mouseover)="param.activeEndpoint = 0" style="cursor:pointer">None</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item" [ngClass]="{ 'active': param.activeEndpoint === 1 }" (click)="param.useEndpoint = param.options.endpoint.url"
                        (mouseover)="param.activeEndpoint = 1" style="cursor:pointer">{{param.options.endpoint.url}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <ng-container *ngIf="!param.useEndpoint">
              <div class="row" *ngIf="param.type == '0'">
                <div class="col-12 align-self-center">
                  <input type="text" class="form-control" placeholder="some text..." [name]="param.name" [(ngModel)]="param.value" [readonly]="param.useDefault"
                  />
                </div>
              </div>

              <div class="row" *ngIf="param.type == '1'">
                <div class="col-12">
                  <button type="button" class="btn btn-secondary" (click)="openAddFilesModal(param)" [disabled]="param.useDefault">Add File</button>
                  <input type="text" class="form-control files-box" placeholder="Choose File..." [name]="param.name" [(ngModel)]="param.value.name"
                    readonly/>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="param.useEndpoint">
              <div class="row border options-box striped" *ngFor="let endP of param.options.endpoint.parameters" style="margin:auto;margin-bottom:1px">
                <div class="col align-self-center">
                  {{endP.name}}
                </div>
                <div class="col align-self-center btn-group">
                  <input type="text" [ngClass]="{ 'combined-input': endP.description }" class="form-control form-control-sm" placeholder="some text..."
                    [name]="endP.name" [(ngModel)]="endP.value" />
                  <button type="button" *ngIf="endP.description" class="btn btn-sm btn-dark side-btn fa far fa-question-circle" [popover]="endP.description"
                    triggers="click:blur" placement="left">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-info btn-lg btn-block" style="margin-bottom:20px" [disabled]="validateForm()">Analyse Data</button>
  </form>
</div>

<div class="container-fluid" (webkitAnimationEnd)="hideResultsContainer($event.animationName)" [ngClass]="{ 'pt-page-moveFromRightFade': showResults, 'pt-page-rotateFoldRight': hideResults, 'hide': hideSecundaryContainer }"
  style="position: absolute;height:calc(100% - 56px);overflow-y:auto;">

  <div style="margin-bottom: 20px;" *ngIf="processingResult && !onInvoke">
    <h3 style="margin-top:5px">Processing Result</h3>
    <ng-container *ngFor="let item of processingResult">

      <ng-container *ngIf="item.key == 'exit_code'">
        <h5 style="margin-top:20px">Exit Code</h5>
        <input type="text" value="{{item.value}}" class="form-control" readonly>
      </ng-container>

      <ng-container *ngIf="!isFileRef(item.key) && item.key != 'exit_code' && item.value != ''">
        <h5 style="margin-top:20px">{{item.key}}</h5>
        <textarea class="form-control" rows="5" readonly [value]="item.value"></textarea>
      </ng-container>

      <ng-container *ngIf="isFileRef(item.key) && item.key != 'exit_code'">
        <ng-container *ngFor="let file of item.value">
          <h5 *ngIf="file.length > 0" style="margin-top:20px">File Reference - {{item.key}}</h5>
          <ng-container *ngFor="let fileData of file">
            <button type="button" class="btn btn-light" style="margin-bottom:5px;font-weight:500;" (click)="downloadFile(fileData)">
              <img src="../assets/save.svg" alt="" style="position:relative;top:-1px;width:20px;margin-right:5px"> {{fileData.key}}
            </button>
            <textarea class="form-control" rows="5" readonly name="{{fileData.key}}" [value]="fileData.value"></textarea>
          </ng-container>
        </ng-container>
      </ng-container>

    </ng-container>
  </div>

  <ng-container *ngIf="requestDataError && !onInvoke">
    <div *ngFor="let error of requestDataError" class="alert alert-danger" role="alert" style="margin-top:20px">
      <div style="display:inline-block;font-weight:bold;">Error {{error.status}}:</div> {{error.message}}
    </div>
  </ng-container>

  <button *ngIf="!onInvoke" (click)="onNewRun()" style="margin-bottom:20px" type="button" class="btn btn-info btn-lg btn-block">
    <i class="fa fas fa-arrow-left"></i> New Run</button>

  <div class="sk-folding-cube" style="transform:scale(1.25, 1.25);position:absolute;top:calc(50% - 45px);left:calc(50% - 27px);"
    *ngIf="onInvoke">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
